h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    color: #A0A0A0;
    font-weight: normal;
}

a {
  text-decoration: none;
}


.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.banner h1 {
  font-size: 40px;
}

.container {
  width: 900px;
  margin: 50px auto;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.link-medium:hover {
    background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
/* Media queries */

@media(max-width: 992px) {
  .container {
    width: 700px;
    margin: 50px auto;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
    margin: 50px auto;
  }
}

@media(max-width: 567px) {
  .container {
    width: 300px;
    margin: 50px auto;
  }
}


