.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}

/* Media queries */
@media(max-width: 1500px) {
  .container {
    width: 900px;
    margin: 50px auto;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
    margin: 50px auto;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
    margin: 50px auto;
  }
}

@media(max-width: 567px) {
  .container {
    width: 300px;
    margin: 50px auto;
  }
}


